@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    /* --cor-primaria: #042326;
    --cor-segundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --cor-primaria: #1A120B;
    --cor-segundaria: #E5E5CB;
    --cor-terciaria: #61483c;
    --cor-hover: #D5CEA3; */

    --cor-primaria: #54b9b9;
    --cor-segundaria: #473f33;
    --cor-terciaria: #d6e92b;
    --cor-hover: #e9ebbf;

    --font-primaria: 'Krona One', sans-serif;
    --font-segundaria: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

/*inicia novo cabecalho*/


.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-family: var(--font-segundaria);
    color: var(--cor-segundaria);
}

.navbar-brand p {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 48px;
}

.container__imagem {
    padding: 1em;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--cor-terciaria);
    font-weight: 700;
    font-size: 24px;
    font-family: var(--font-segundaria);
    display: flex;
    justify-content: center;
    gap: 8px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 0;
    color: var(--cor-segundaria);
}

.lista-menu {
    background: var(--cor-primaria);
    padding: 10px;
    width: 60%;
    box-shadow: 2px 1px 1px var(--cor-segundaria);
    display: none;
    position: absolute;
    top: 100%;
}

.lista-menu__link {
    border:1px solid var(--cor-terciaria);
    display: block;
    width: 100%;
    color: var(--cor-segundaria);
    padding: 8px;
    font-family: var(--font-segundaria);
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 0;
    color: var(--cor-segundaria);
    font-family: var(--font-segundaria);
    font-weight: 600;
}

.lista-menu__link:hover {
    background-color: var(--cor-hover);
}

.container__botao {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opções__botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

 

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabeçalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }
}
/*fim cabecalho*/


/* inicio mains geral*/

.apresentacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 2em;
}

.apresentacao__conteudo {
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.apresentacao__imagem {
    width: 75%;
    border-radius: 100px;
}

.apresentacao__conteudo__titulo {
    font-size: 1.5em;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    text-align: center;
    font-size: 1.2em;
    font-family: var(--font-segundaria);
}


.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 21.5px 0;
    color: var(--cor-segundaria);
    font-family: var(--font-segundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__navegacao img {
    width: 2rem;
    height: 2rem;
}

.apresentacao__conteudo__imagens {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apresentacao__conteudo__imagens a {
    text-align: center;
}

.apresentacao__conteudo__imagens img {
    width: 85%;
    height: 85%;
}

.apresentacao__imagem__projetos {
    width: 40%;
    
    
}

.rodape {
text-align: center;
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-segundaria);
    font-weight: 400;
}



@media screen and (max-width: 800px) {

} 


@media screen and (max-width: 1024px) {
   
} 

