@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    /* --cor-primaria: #042326;
    --cor-segundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727; */
    --cor-primaria: #1A120B;
    --cor-segundaria: #E5E5CB;
    --cor-terciaria: #61483c;
    --cor-hover: #D5CEA3;

    --font-primaria: 'Krona One', sans-serif;
    --font-segundaria: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-segundaria);
}

.cabecalho {
    padding: 5% 0 0 15% ;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__links {
    font-size: 1.5rem;
    font-family: var(--font-segundaria);
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}


.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-segundaria);
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 16px;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 21.5px 0;
    color: var(--cor-segundaria);
    font-family: var(--font-segundaria);
    font-weight: 600;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__links__navegacao img {
    width: 2rem;
    height: 2rem;
}

.apresentacao__imagem {
    width: 75%;
    height: 532px;
}

.rodape {
text-align: center;
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-segundaria);
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 40px;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}